# All files to globally ignore
*.pyc
*.pyo
*$py.class
*.swp
*.swo
.noseids
*.patch
*#
*~
*.egg
*.egg-info
MANIFEST
dist
build
.build
titorc.5
titorc.5.xml
tito.8
tito.8.xml
.idea
**/*.iml
bin
include
lib
local
hacking/*/tito.spec
tito-venv/
